{% extends "layout/default.html" %}
{% load static %}
{% block banner %}
<header class="masthead" style="background-image: url({% static 'assets/img/register-bg.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Register</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block content %}
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-floating">
                        <input class="form-control" id="name" type="text" name="name" placeholder="Enter your name..." required />
                        <label for="name">Name</label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="email" type="email" name="email" placeholder="Enter your email..." required />
                        <label for="email">Email address</label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="password" type="password" name="password" placeholder="Enter your password..." required />
                        <label for="password">Password</label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="confirm_password" type="password" name="confirm_password" placeholder="Confirm password..." required />
                        <label for="confirm_password">Confirm Password</label>
                    </div>
                    <br />
                    <button class="btn btn-primary text-uppercase" type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}